target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
code/endpoint/target

out/

.gradle/

jars/

# dependencies
code/xuezhi-fronter/node_modules
code/xuezhi-fronter/.pnp
code/xuezhi-fronter.pnp.js
code/xuezhi-fronter/package-lock.json

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
