
.write{
    position: absolute;
    left:28%;
    width:44%;
    height: 100%;
    background: #fff;
}

.write .content {
    margin: 80px auto;
}


.write div .switch{
    float:right;
}

.write .switchdiv{
    height: 100px;
}
.write .buttondiv{
    display: block;
}
.write .buttondiv .button{
    margin: 0 10px;
    padding: 10px 20px;
    min-width: 0;
    height: 30px;
    background: #0f88eb;
    color: white;
    float:right;
}

