.userhistory{
  padding-top: 0px;
}

.userhistory .content{
  margin-top: 60px;
  padding: 0px 5% 55px 5%;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  width: 70%;
  box-sizing: border-box;
  display: inline-block;
}
.userhistory .content .btn-1{
  margin-left:-50px;
  margin-top:0px;
  width:150px;
  height:30px;
  border:none;
}
.userhistory .content .btn-1:hover{
  background-color: #AAAAAF;
}
.userhistory .content .btn-2{
  margin-left:0px;
  marginTop:0px;
  width:150px;
  height:30px;
  border:none;
}
.userhistory .content .btn-2:hover{
  background-color: #AAAAAF;
}
.userhistory .content .cell {
  display: flex;
  align-items: flex-end;
  margin-top: 35px;
  flex: 1;
  justify-content: space-between;
}

.userhistory .right{
  display: inline-block;  
  position: fixed;
width: 300px;
  margin-top: 60px;
}

.userhistory .right .card {
  margin-left: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  background: #fff;
  padding: 10px;
  color: #8590a6;
  font-size: 14px;
  line-height: 25px;
}

.userhistory .footer{
  margin-left: 13px;
  margin-top: 5px;  
}

.userhistory .footer .footer-dot{
  font-size: 13px;
  line-height: 2;
    color: #8590a6;
}

.userhistory .footer .footer-dot:after {
  margin: 0 5px;
  content: "\B7";
}

.userhistory .footer .footer-item{
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  color: #8590a6;
}

.userhistory .moblie {
  display: none;
}
@media (max-width: 1024px) {
  .userhistory{
    padding-top: 135px;
  }
  .userhistory .left{
    width: 100%;
  }
  .userhistory .right{
    display: none;
  }

  .userhistory .moblie {
    display: block;
  }
}